node_modules/
.next/
.npm-cache/
playwright-report/
test-results/
build/
dist/
coverage/
.DS_Store
*.log
*.tsbuildinfo
.env*
!.env.example
prisma/*.db
.env.test
.env.production

build-child_process.log
build-*.log
null
